*
{
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Josefin Sans";
    text-decoration: none;
    scroll-behavior: smooth;

    background-color: transparent;

    -webkit-box-sizing: border-box;
}

:root
{
    --bg-color: #000;
    --bg-trans-color: rgba(141, 147, 158, 0.15);
    --text-color: #dcdcdc;
    --main-color: #ff9f69;
    --second-color: #8D939E;

    --corner-radius: 10px;
}

body
{
    color: var(--text-color);
    background: var(--bg-color);
    padding: 50px 50px 25px 50px;
    width: 100vw;
    height: 100vh;
}

canvas
{
    background-color: var(--bg-color);
    
    position: fixed; 
    top: 0; 
    right: 0;
    width: 100vw; 
    height: 100vh; 
    
    z-index: -1;
}


nav
{
    padding: 8px 37px;
    background-color: var(--bg-color);

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .navigators a
{
    margin: 0px 30px;
    color: #fff;
    font-size: 15px;
}

#drop-down
{
    display: none; 
    font-size: 24px; 
    color: #fff;
    cursor: pointer;
}

#contact-btn
{
    color: var(--main-color);
}


form
{
    padding: 25px 20px;
    margin: 80px 0px;
    width: 350px;

    background-color: var(--bg-trans-color);
    border-radius: var(--corner-radius);
}

#message
{
    width: 306px;
}

form *
{
    margin-top: 10px;
    font-size: 24px;
}

form .input
{
    font-size: 20px;
    color: var(--main-color);
    background-color: var(--bg-trans-color);
    border-radius: var(--corner-radius);
    border: 2px var(--main-color) solid;
}

.logo img
{
    width: 400px;
}

#send
{
    padding: 10px;
    border-radius: var(--corner-radius);
    background-color: var(--main-color);
    font-size: 18px;
    font-weight: bold;

    cursor: pointer;
}

.send-btn
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.content
{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: transparent;
}

@media (max-width: 768px)
{
    .content
    {
        display: block;
        background-color: transparent;
    }
    
    .logo, .form
    {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

@media (max-width: 575px)
{
    #drop-down
    {
        display: inline-block;
    }

    .navigators
    {
        display: none;
    }

    .nav-btn:hover .navigators
    {
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: fixed;
        top: 8px;
        right: 20px;
        padding: 20px;
        border-radius: var(--corner-radius);
        background-color: var(--bg-color);
        border: 2px var(--main-color) solid;
    }
    .logo img 
    {
        width: 300px;
    }

    form
    {
        width: 300px;
    }

    #message
    {
        width: 256px;
    }
}

@media (max-width: 375px)
{
    .logo img 
    {
        width: 250px;
    }

    form
    {
        width: 250px;
    }

    #message
    {
        width: 206px;
    }
}